@import url("https://fonts.googleapis.com/css2?family=Jomolhari&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
  font-family: "Jomolhari", serif;
  max-width: 750px;
  margin: auto;
  background-color: pink;
}

.notice {
  text-align: center;
  width: 50em;
  height: 2rem;
  margin-top: 1rem;
  background-color: greenyellow;
  border-style: none;
}

.header {
  padding: 0rem 1rem 0rem 1rem;
  color: blue;
  font-weight: bold;
}

.intro {
  padding: 0rem 0.5rem;
  color: green;
  font-size: large;
}

.datetext {
  padding: 0.5rem 1rem;
  margin-left: 12rem;
}

.datepicker {
  padding: 0.5rem;
  margin: 1rem 0rem;
  background-color: lightsalmon;
}

.numtext {
  margin: 0rem 1rem 0rem 11rem;
}

.input {
  max-width: 150px;
  margin: 0rem;
  height: 30px;
  background-color: lightsalmon;
}

.btn {
  width: 130px;
  height: 40px;
  background-color: lightskyblue;
  font-weight: bold;
  font-size: large;
  border-color: black;
  margin-top: 1.25rem;
}

.result {
  height: 50px;
  width: 420px;
  background-color: greenyellow;
  text-align: center;
  margin: 2.5rem 11rem 2rem 11rem;
  padding-top: 1rem;
  font-size: large;
}

.image {
  height: 130px;
  width: 150px;
  object-fit: object-fit;
  margin-bottom: 1rem;
}

.footer {
  padding: 1rem 0;
  text-align: center;
}

.footer-header {
  padding: 1rem 0;
  font-weight: bolder;
  font-size: x-large;
}

.footer-ul-links {
  padding-left: 0px;
}

.lists-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

.footer-links {
  color: #000;
  text-decoration: none;
  padding-left: 0;
}

.icons {
  padding: 0 0.5rem;
}
